body {
  font: 14px "Century Gothic", Futura, sans-serif;
  text-align: center;
  margin-left: 40%;
  margin-top: 10%;
}


.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3);

}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
